.container__order {
    padding: 1rem;
}

.container_order_title {
    font-size: 14px;
   h2  {
        margin: 0px;
        margin-left: 7rem;
        font-size: 14px;

    }

}
// .container__itemDish {
//     margin-top: 2rem;
// }