.css-rh92k-MuiPaper-root-MuiMobileStepper-root {
    display: flex;
    flex-direction: column !important;
}

.MuiButtonBase-root .MuiButton-root .MuiButton-text .MuiButton-textPrimary .MuiButton-sizeSmall .MuiButton-textSizeSmall .MuiButton-root .MuiButton-text .MuiButton-textPrimary .MuiButton-sizeSmall .MuiButton-textSizeSmall .css-1knaqv7-MuiButtonBase-root-MuiButton-root {
    background-color: red;
}

.container1 {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    justify-content: center;
}

.css-1bcgb1s {
    margin-top: 5rem;
    text-align: center;
    justify-content: center;
}

img.MuiBox-root {
    justify-content: center;
}

.css-1384nzf-MuiMobileStepper-dots {
    margin-bottom: 8px;
}