.css-rh92k-MuiPaper-root-MuiMobileStepper-root {
    display: flex;
    flex-direction: column !important;
}

.MuiButtonBase-root .MuiButton-root .MuiButton-text .MuiButton-textPrimary .MuiButton-sizeSmall .MuiButton-textSizeSmall .MuiButton-root .MuiButton-text .MuiButton-textPrimary .MuiButton-sizeSmall .MuiButton-textSizeSmall .css-1knaqv7-MuiButtonBase-root-MuiButton-root {
    background-color: red;
}

.container1 {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    justify-content: center;
}

.css-1bcgb1s {
    margin-top: 5rem;
    text-align: center;
    justify-content: center;
}

img.MuiBox-root {
    justify-content: center;
}

.css-1384nzf-MuiMobileStepper-dots {
    margin-bottom: 8px;
}

/* Estilos generales */

/* Consulta de medios para pantallas pequeñas */
@media only screen and (max-width: 767px) {
    /* Estilos específicos para pantallas pequeñas */
  }
  
  /* Consulta de medios para pantallas medianas */
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Estilos específicos para pantallas medianas */
  }
  
  /* Consulta de medios para pantallas grandes */
  @media only screen and (min-width: 992px) {
    /* Estilos específicos para pantallas grandes */
    .container1 {
  }
}